<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>this is the index page</h1>
    <h3>Create a page</h3>
    <form action="/users" method="post">
        Name: <input type="text" name="name">
        Email: <input type="email" name="email">
        Type of tags: text: radio: password: checkbox:
        <input type="radio" name="radio" id="radio">
            <option value="radio">option 1</option>
            <option value="radio">option 2</option>
            <input type="number" name="" id="">
        <input type="password" name="" id="">
        input type="submit" value="create user">
    </form>
</body>
</html>