<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   

<script type="text/javascript"></script>
    function Node(val){
        this.val = val;
        this.next = null;
    } 
    function SLL(){
        this.head = null:
        this.add = function(val){
            if(this.head == null){
                this.head = new Node(val);
            }else{
                var runner = this.head;
                while(runner.next != null){
                    runner = runner.next;
                }
                runner.next = new Node(val);
                }
            return this:
            }
            }
        }
    }
    var ssl1 = newsll();
    sll1.add(1).add(2).add(3)
    conlog(ssl1);
</body>
</html>
<input type="text" name="" id="">